body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
}
.container {
    width: 80%; /* Adjust as needed */
    margin: 0 auto; /* Centers the container */
}
.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data/images/human_vs_gpt.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.main-content {
    box-sizing: border-box; /* Includes padding in width calculation */
    padding-left: 20px;
    padding-right: 20px;
    font-size: 200%;
    /* Other styles remain the same */
}
h1 {
    margin-top: 70vh;
    font-family: 'Times New Roman';
    font-size: 50pt;
    text-align: center;
}
h1.visible, .main-content.visible {
    opacity: 1;
}
p {
    font-family: 'Times New Roman';
    font-size: 25px;
    line-height: 1.5;
}
.scroll-down {
    text-align: center;
    font-family: 'Arial';
    color: white;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
    margin-top: 25px; /* Adjust as needed */
}
.main-content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 25px;
}
