body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    font-family: 'Times New Roman';
}

a:link, a:visited {
    color: blue;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data/images/human_vs_gpt.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.side-navigation {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    z-index: 10;
}

.side-navigation ul {
    list-style: none;
    padding: 0;
}

.side-navigation ul li a {
    color: white;
    text-decoration: none;
}

.active-link {
    font-weight: bold;
    color: yellow;
}

.main-content {
    box-sizing: border-box;
    padding: 20px; /* Apply padding directly instead of left and right separately */
    font-size: 200%;
}

h1 {
    margin-top: 20vh;
    font-family: 'Times New Roman';
    font-size: 40pt;
    text-align: center;
}

h1.visible, .main-content.visible {
    opacity: 1;
}

p {
    font-size: 25px;
    line-height: 1.5;
}

figcaption {
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: rgba(200, 200, 200)
}

.scroll-down {
    text-align: center;
    font-family: 'Arial';
    color: white;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
    margin-top: 25px;
}

.main-content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding: 10vw; /* Apply padding directly instead of left and right separately */
    font-size: 25px;
}

img, iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Ensures the element fits within its container */
    height: auto;
}

iframe {
    width: 960px; /* Default width, adjust as needed */
    height: 540px; /* Default height, adjust as needed */
    aspect-ratio: 16 / 9;
}

/* Responsive iframe sizing */
@media screen and (max-width: 960px) {
    iframe, img {
        width: 100%;
        height: auto;
    }
}